*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100vw;
    height: 100vh;
    background-image: url(images/background-image.jpg);
    background-position: center;
    background-size: cover;
    padding: 2% 5%;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 25px;
    color: white;
}

.header h2 {
    margin-right: 20px;
}

.header a {
    color: white;
    text-decoration: none;
}

.header a:hover {
    text-decoration: underline;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}
.content p1{
    font-size: 20px;
}
.content h1{
    font-size: 64px;
    font-weight: 600;
    color: red;
}

.timer{
    display: flex;
}
.timer div{
    flex-basis: 100px;
}
.timer p{
    font-size: 80px;
    margin-bottom: -5px;
    margin-inline: 30px;
}
.timer span{
    font-size: 20px;
    margin-left: 5px;
    color: red;
}